<section class="hero is-primary">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">After Covid19</p>
    </div>
  </div>
  </section>
  <section class="section" style="border-bottom: 1px solid #00d1b2">
    <div class="container is-fluid">
      <app-userdata></app-userdata>
    </div>
    </section>
    <p style="border-top:1px black;"></p>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          @after-covid19  
        </p>
      </div>
    </footer>
    
<router-outlet></router-outlet>
